.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0f1012;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(255, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

.title h1 {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2px;

  span {
    color: #d7263d;
    margin-left: 5px;
  }
}

.menu {
  .entrar-btn {
    margin-right: 20px;
    background-color: #d7263d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: #a81b2e;
    }
  }
}
